body{
    background-color: #FAF0E4;
    font-family: 'PT Serif', serif;
}

p{
    color:black;
}
/*sfrgthg*/

.titulo{
    color: #FF8551;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
}

.menu{
    display:flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 200px;
}

.ajodu{
    width: 40%;
    display: flex;
    margin-left: 30%;
    border-radius: 20px;
}

a{
    color:coral;
    text-decoration: none;

}